@import 'tailwindcss';

@theme {
  --color-background: #15171a;
  --color-foreground: #d5dce4;
  --color-secondary: #808892;
  --color-danger: #da577e;
}

@layer base {
  * {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-foreground focus-visible:ring-offset-4 focus-visible:ring-offset-background;
  }
  body {
    @apply relative h-screen bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}

.graph-link {
  stroke: var(--color-foreground);
  stroke-opacity: 0.25;
  stroke-width: 2px;
  z-index: -1000;
  marker-end: url(#arrowhead)
}

.graph-label {
  fill: var(--color-foreground);
  font-size: 10px;
  text-anchor: middle;
  z-index: 1000;
}

.graph-arrowhead {
  fill: var(--color-foreground);
}
